@media(max-width:881px){
    /*   header    */
    header {
        padding: 18px 24px;
    
    }
     .header_btn{
        display: none;
    }
    
    .burger_icon{
        display: block;
    }
}